.fa-cloud-sun{
color: rgb(121, 118, 118);
}
.fa-sun{
color: yellow;
}
.fa-cloud-sun-rain{
color: blue;
}
.tamaño{
    font-size: 40px;
    }
.titulo{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}